<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net471" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net471" />
  <package id="Fody" version="6.2.5" targetFramework="net471" developmentDependency="true" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
</packages>